{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container text-center">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
            {% if success %}
            <div class="alert alert-success" role="alert">
                {{ success }}
            </div>
            {% endif %}
    <!-- <div class="signup-content">
        <form method="POST" id="signup-form" class="signup-form" action="{% url 'createAccount' %}">
            <h2 class="form-title">Create account</h2>
            {% csrf_token %}
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
            {% if success %}
            <div class="alert alert-success" role="alert">
                {{ success }}
            </div>
            {% endif %}
            <div class="form-group">
                <input type="text" class="form-input" name="username" id="username" placeholder="Username" value="{{ username }}" />
            </div>
            <div class="form-group">
                <input type="password" class="form-input" name="password" id="password" placeholder="Password" />
                <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-input" name="password_again" id="password_again"
                    placeholder="Repeat Your Password" />
                <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
            </div>

            <div class="form-group">
                <input type="text" class="form-input" name="fname" id="fname" placeholder="First Name" value="{{ fname }}"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-input" name="lname" id="lname" placeholder="Last Name" value="{{ lname }}" />
            </div>

            <div class="form-group">
                <input type="email" class="form-input" name="email" id="email" placeholder="Your Email" value="{{ email }}" />
            </div>

            <div class="form-group">
                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in <a
                        href="#" class="term-service">Terms of service</a></label>
            </div>
            <div class="form-group">
                <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up" />
            </div>
        </form>
        <p class="loginhere">
            Have already an account ? <a href="#" class="loginhere-link">Login here</a>
        </p>
    </div>
</div> -->
<body class="form-v4">
	<div class="page-content" style="height: 800px;">
		<div class="form-v4-content">
			<div class="form-left">
				<h2>ข้อตกลงในการใช้บริการ Carrental.co.th</h2>
				<p class="text-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et molestie ac feugiat sed. Diam volutpat commodo.</p>
				<p class="text-2"><span>Eu ultrices:</span> Vitae auctor eu augue ut. Malesuada nunc vel risus commodo viverra. Praesent elementum facilisis leo vel.</p>
				
			</div>
			<form class="form-detail" method="post" id="myform" action="{% url 'createAccount' %}">
                <h2>SIGN UP FORM</h2>
                {% csrf_token %}
                <div class="form-row">
					<label for="your_email">Username</label>
					<input type="text" name="username" id="your_email" class="input-text" value="{{ username }}">
				</div>
				<div class="form-group">
					<div class="form-row form-row-1">
						<label for="first_name">First Name</label>
						<input type="text" name="fname" id="first_name" class="input-text" value="{{fname}}">
					</div>
					<div class="form-row form-row-1">
						<label for="last_name">Last Name</label>
						<input type="text" name="lname" id="last_name" class="input-text" value="{{lname}}">
					</div>
                </div>
				<div class="form-row">
					<label for="your_email">Your Email</label>
					<input type="email" name="email" value="{{email}}" id="your_email" class="input-text" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
				</div>
				<div class="form-group">
					<div class="form-row form-row-1 ">
						<label for="password">Password</label>
						<input type="password" name="password" id="password" class="input-text" required>
					</div>
					<div class="form-row form-row-1">
						<label for="comfirm-password">Comfirm Password</label>
						<input type="password" name="password_again" id="comfirm_password" class="input-text" required>
					</div>
				</div>
				<div class="form-checkbox">
					<label class="container">
                        <p class="mt-5">ฉันยอมรับตกลงในข้อตกลงทุกประการ</p>
					  	<input type="checkbox" name="agree-term">
					  	<span class="checkmark"></span>
					</label>
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Register">
				</div>
			</form>
		</div>
    </div>
    
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

{% endblock %}

{% block footer %}
Footer of Login page!!!
{% endblock %}