{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
                <img src="/media/{{ car.pic_url }}" alt="Responsive image" style="width: 100%;" class="mt-5">
                <a type="button" class="btn btn-success btn-sm" style='margin: 111px;' href="{% url 'car_dashboard' %}">กลับไปหน้ารายการรถ</a>
        </div>
        <div class="col-6">
            <table class="table table-borderless mt-4">
                <tbody>
                    <tr>
                        <td colspan="2"><h1>{{car.name }}</h1></td>

                    </tr>
                    <tr>
                        <td>รถปี</td>
                        <td>{{car.years}}</td>

                    </tr>
                    <tr>
                        <td>สี</td>
                        <td>{{car.color}}</td>
                    </tr>
                    <tr>
                        <td>ประเภทเกียร์</td>
                        <td>{{ car.get_type_gear_display }}</td>
                    </tr>
                    <tr>
                        <td>รถประเภท</td>
                        <td>{{ car.get_category_display}}</td>
                    </tr>
                    <tr>
                        <td>จำนวนที่นั่ง</td>
                        <td>{{ car.number_seat}}</td>
                    </tr>
                    <tr>
                        <td>จำนวนประตู</td>
                        <td>{{ car.number_door}}</td>
                    </tr>
                    <tr>
                        <td>ราคาต่อวัน</td>
                        <td>{{ car.price}}</td>
                    </tr>
                    <tr>
                        <td>วันที่เเก้ไขล่าสุด</td>
                        <td>{{ car.update_time}}</td>
                    </tr>
                </tbody>
              </table>
              
              
        </div>
    </div>
</div>





{% endblock %}

{% block footer %}

{% endblock %}